@page
@model IndexModel
@{
    ViewData["Title"] = "Timy Vilarmia";
}

<div class="text-center">
    <section>
            <div class="section-title">
                <h1>About me</h1>
            </div>
            <div class="about-container">
                <div class="container left-column">
                    <div class="img-container">
                        <img src="~/images/profile.jpg" alt="Timy Villarmia">
                    </div>
                    <div class="about">
                        <h1 class="title">hey, i'm timy 👋🏻 <br> i'm currently a ComSci Student at act</h1>
                        <p class="desc-container">I’m currently a 3rd-year computer science student at Asian College of Technology. While I primarily focus on the Full-Stack Development, I have a great interest in Artificial Intelligence and Game-Development. I proudly serve as a graphics designer for the non-profit organization "Ngiti”.

                            When I'm not coding and designing, you'll often find me casually playing TFT and League of Legends or consuming tech contents on YouTube
                            
                            I’m open to internships, and part-time positions in the Full-Stack Development field.
                        </p>
                    </div>
                </div>
                <div class="right-column">
                    <div class="container experience-container">
                        <h1 class="title">experience</h1>
                        <ul>
                            <li>
                                <p>2024 - present</p>
                                <p>↳ Job Position at Company</p>
                            </li>
                            <li>
                                <p>2023 - 2024</p>
                                <p>↳ Job Position at Company</p>
                            </li>
                            <li>
                                <p>2021 - 2023</p>
                                <p>↳ Job Position at Company</p>
                            </li>
                            <li>
                                <p>2019 - 2021</p>
                                <p>↳ Job Position at Company</p>
                            </li>
                        </ul>
                    </div>
                    <div class="container education-container">
                        <h1 class="title">education</h1>
                        <ul>
                            <li>
                                <p>2021 - present</p>
                                <p>↳ B.S Computer Science at Asian College of Technology</p>
                            </li>
                            <li>
                                <p>2019 - 2021</p>
                                <p>↳ Senior High School (STEM) at Asian College of Technology</p>
                            </li>
                        </ul>
                    </div>
                    <div class="container skills-container">
                        <h1 class="title">Here are some technologies I have been working with:</h1>
                        <ul class="skill-list">
                            <li>✦ React</li>
                            <li>✦ Javascript</li>
                            <li>✦ Tailwind CSS</li>
                            <li>✦ Astro</li>
                            <li>✦ .NET</li>
                            <li>✦ SQL Server</li>
                            <li>✦ Python</li>
                            <li>✦ Git</li>
                            <li>✦ Bash</li>
                            <li>✦ Figma</li>
                        </ul>

                    </div>
                    <div class="container contact-container">
                        <h1 class="title">contact</h1>
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/in/timyvillarmia/" target="_blank">
                                    ↳ linkedin.com/in/timyvillarmia
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    ↳ timyvillarmia@gmail.com
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/TimyVillarmia" target="_blank">
                                    ↳ github.com/TimyVillarmia
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="container spotify-container">
                        <h1 class="title">MY HEADS-DOWN PLAYLIST</h1>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6VkkSIfAnMkf9hQ2zoBt4F?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                    

                </div>
            </div>
            <footer>
                <div class="footer-links">
                    <a href="" target="_blank">
                        email
                    </a>
                    <a href="https://www.linkedin.com/in/timyvillarmia/" target="_blank">
                        linkedin
                    </a>
                    <a href="https://github.com/TimyVillarmia" target="_blank">
                        github
                    </a>
                </div>
                <div>
                    ©2024 Timy Villarmia
                </div>
                
    
            </footer>
        </section>
</div>
