@page
@model PrivacyModel
@{
    ViewData["Title"] = "Work";
}

<section>
    <div class="section-title">
        <h1>Work</h1>
    </div>
    <div class="work-container">
        <div class="row     row-cols-2">
            <div class="">
                <a href="">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/portfolio-card-img.png">
                    </div>
                    <div class="work-desc row">
                        <div class="col">
                            <div>
                                <p class="fw-bold text-uppercase">Portfolio</p>
                                <p>Astro</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>Built from scratch, a website serves as my online presence, showcasing my work and
                                connecting
                                with
                                potential clients.
                            </p>
                        </div>
                        <div class="col">
                            <p class="text-end">2024</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/vaultify.png">
                    </div>
                    <div class="work-desc row">
                        <div class="col">
                            <div>
                                <p class="fw-bold text-uppercase">Vaultify</p>
                                <p>Xamarin</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>Vaultify is a mobile application that lets you securely store and manage all your
                                passwords, notes, and other sensitive information.
                            </p>
                        </div>
                        <div class="col">
                            <p class="text-end">2024</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/eventify.png">
                    </div>
                    <div class="work-desc row">
                        <div class="col">
                            <div>
                                <p class="fw-bold text-uppercase">Eventify</p>
                                <p>BlazorSQL </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>Eventify is a Blazor server web app that simplifies event management and judging.
                                Organizers set up judging criteria and weightings, while judges provide real-time
                                scores.
                            </p>
                        </div>
                        <div class="col">
                            <p class="text-end">2024</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/budgetbuddy-card-img.png">
                    </div>
                    <div class="work-desc row">
                        <div class="col">
                            <div>
                                <p class="fw-bold text-uppercase">BudgetBuddy</p>
                                <p>WinForms</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>A personal finance management tool developed for an Event-Driven Programming course,
                                BudgetBuddy allows users in handling their finances efficiently and securely
                            </p>
                        </div>
                        <div class="col">
                            <p class="text-end">2023</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/swiftpayroll-card-img.png">
                    </div>
                    <div class="work-desc row">
                        <div class="col">
                            <div>
                                <p class="fw-bold text-uppercase">SwiftPayroll</p>
                                <p>WinForms</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <p>A payroll system simplifies HR tasks. It calculates employee wages and deductions, and
                                prints payroll in pdf.
                            </p>
                        </div>
                        <div class="col">
                            <p class="text-end">2022</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
